@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=EB+Garamond:ital@0;1&family=PT+Serif:ital@0;1&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: 'Dongle', sans-serif;
	font-family: 'PT Serif', serif;
}

button {
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: white;
	background-color: blueviolet;
}

button:hover {
	background-color: rgba(161, 15, 132, 0.491);
}

body {
	font-family: 'PT Serif', serif;
	margin: 0;
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-columns: 100;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header"
		"main"
		"footer";
}

header {
	grid-area: header;
	background-color: #a583c5;
	width: 100%;
}

header .navbar .navbar-nav {
	align-items: center;
}

header .navbar .navbar-nav a {
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1em;
}

header .navbar .navbar-nav a:hover {
	color: rgba(125, 230, 96, 0.764);
}

main {
	grid-area: main;
}

#hero {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fondoTubos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#hero h1 {
	color: white;
	font-size: 3em;
	text-shadow: 4px 4px rgba(161, 15, 132, 0.491);
}

#hero h2 {
	color: #f6d2f7;
	font-size: 1em;
}

#hero button {
	font-size: 1.25em;
	margin-top: 50px;
}

#box-container {
	background-color: #73a6e0;
	color: white;
	text-align: center;
}

#box-container .contenedor {
	padding: 50px 12px;
}

#box-container .contenedor h2 {
	margin-top: 0;
	font-size: 3em;
	text-shadow: 3px 3px #b7adba;
	font-style: italic;
}

#box-container .contenedor .box h3 {
	font-size: 2em;
	text-shadow: 3px 3px #b7adba;
}

#box-container .contenedor .box p {
	display: none;
}

#box-container .contenedor .box .card {
	background-position: center center;
	background-size: cover;
	padding: 50px 0px;
	margin: 30px;
	border-radius: 15px;
	box-shadow: 2px 2px #b7adba;
	font-weight: bold;
}

#box-container .contenedor .box .card:first-child {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/turnos.jpg");
}

#box-container .contenedor .box .card:nth-child(2) {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/contactenos.png");
}

#box-container .contenedor .box .card:nth-child(3) {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/contactenos.png");
}

#box-container .contenedor .box .card:hover {
	transform: translateY(-0.9375rem);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#final {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #1e1e1e;
	color: white;
	height: 80vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sedes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#final h2 {
	font-size: 2.5em;
}

#final button {
	font-size: 1.25em;
	margin-top: 20px;
}

#box-container1 {
	background-color: #5a2568;
	color: white;
	text-align: center;
	margin-top: 0;
	height: 100%;
}

#box-container1 h1 {
	font-size: 2.25em;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
}

#box-container1 .nosotros h3 {
	font-size: 1.75em;
	color: white;
	text-shadow: 4px 4px #361e36;
	padding-top: 10px;
}

#box-container1 .nosotros p {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.8em;
	text-align: justify;
	text-justify: auto;
}

.bg-contacto {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/contactenos.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.bg-contacto .form-horizontal legend {
	color: #36A0FF;
	font-size: 3em;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
	padding: 0 px;
	margin-top: 0 px;
}

.bg-contacto .form-horizontal .form-group {
	align-items: center;
	color: white;
	margin-bottom: 10px;
	margin-top: 0px;
}

.bg-contacto .form-horizontal .form-group .bigicon {
	font-size: 30px;
	color: #36A0FF;
}

.bg-contacto .form-horizontal .form-group .btnl {
	margin-top: 10px;
	margin-bottom: 10px;
}

.contenedor-turno {
	height: auto;
}

.contenedor-turno .imgturnos {
	text-align: center;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/turnos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.contenedor-turno .imgturnos .banner-turnos {
	padding: 10px;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 0.7em;
}

.contenedor-turno .imgturnos .banner-turnos h1 {
	text-shadow: 4px 4px #790779;
}

.contenedor-turno .imgturnos .banner-turnos p {
	font-size: 1.0em;
	text-align: justify;
	text-justify: auto;
}

.contenedor-turno .imgturnos .calendario iframe {
	width: 200px;
	height: 200px;
}

.contenedor-turno .imgturnos .busqueda-ind h1 {
	font-size: 2.5em;
	padding: 20px;
	color: white;
	text-shadow: 4px 4px #361e36;
}

.contenedor-turno .imgturnos .busqueda-ind p {
	padding: 10px;
	font-size: 1em;
	color: white;
	text-align: justify;
	text-justify: auto;
}

.contenedor-turno .imgturnos .busqueda-ind .example-turno {
	padding-bottom: 50px;
}

.ingreso {
	padding: 70px;
	font-size: 1.5em;
	color: white;
	text-align: justify;
	text-justify: center;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ingreso.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.ingreso .button {
	text-align: justify;
	text-justify: center;
}

.ingreso .container-fluid .ingresar h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #36A0FF;
	font-size: 2.25em;
	font-weight: bold;
	justify-content: center;
}

.ingreso .container-fluid .container-contacto {
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px #8f5581;
}

.ingreso .container-fluid .container-contacto input {
	width: 200px;
}

.ingreso .container-fluid .container-contacto .mb-4 {
	padding-top: 20px;
}

main .busqueda {
	margin-left: 0;
	padding-left: 1px;
	height: auto;
	width: 100%;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/resultados.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

main .busqueda h1 {
	padding-top: 10px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 2.25em;
	font-weight: bold;
	color: white;
	text-shadow: 3px 3px rgba(111, 137, 140, 0.933);
}

main .busqueda p {
	padding-top: 0px;
	padding-bottom: 100px;
	font-size: 1.5em;
	color: white;
}

main .busqueda form {
	padding-bottom: 150px;
}

main .busqueda form .barra {
	height: 50px;
	width: 60%;
	padding-left: 4px;
}


@media (min-width: 768px) {
	#box-container1 h1 {
		font-size: 3.5em;
		text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
		padding-top: 10px;
	}

	#box-container1 .nosotros img {
		width: 500px;
		height: 400px;
	}

	#box-container1 .nosotros h3 {
		font-size: 3em;
		color: white;
		text-shadow: 4px 4px #361e36;
		padding-top: 10px;
	}

	#box-container1 .nosotros p {
		font-size: 1.25em;
		margin-left: 10px;
		margin-right: 10px;
		text-align: justify;
		text-justify: auto;
	}

	.imgturnos {
		align-items: center;
	}

	.imgturnos .banner-turnos h1 {
		font-size: 3.5em;
	}

	.imgturnos .banner-turnos p {
		font-size: 4.0em;
		text-align: justify;
		text-justify: auto;
	}

	.imgturnos iframe {
		width: 300px;
		height: 200px;
	}

	main .ingreso .container-contacto input {
		width: 400px;
	}

	main .busqueda h1 {
		padding-top: 20px;
		padding-bottom: 100px;
		text-align: center;
		font-size: 2.5em;
	}

	main .busqueda p {
		text-align: center;
	}

	main .busqueda form {
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	#navbarNavAltMarkup {
		display: flex;
		justify-content: flex-end;
	}

	#navbarNavAltMarkup .navbar-nav {
		font-size: 2em;
	}

	#box-container .contenedor {
		padding: 0px;
	}

	#box-container .contenedor .box {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	#box-container .contenedor .box .card {
		width: 280px;
		height: 400px;
		border-radius: 15px;
		box-shadow: 2px 2px #b7adba;
		overflow: hidden;
		text-align: center;
		justify-content: end;
		gap: 12.5rem;
		transition: all 0.25s;
	}

	#box-container .contenedor .box .card:hover {
		transform: translateY(-15px);
		box-shadow: 0 12px 16px #b7adba;
	}

	#box-container1 h1 {
		font-size: 4em;
		text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
		padding-top: 10px;
	}

	#box-container1 .nosotros img {
		width: 500px;
		height: 400px;
	}

	#box-container1 .nosotros h3 {
		font-size: 3em;
		color: white;
		text-shadow: 4px 4px #361e36;
		padding-top: 10px;
	}

	#box-container1 .nosotros p {
		font-size: 1.25em;
		margin-left: 10px;
		margin-right: 10px;
		text-align: justify;
		text-justify: auto;
	}

	.imgturnos {
		align-items: center;
	}

	.imgturnos .banner-turnos h1 {
		font-size: 3.5em;
	}

	.imgturnos .banner-turnos p {
		font-size: 4.0em;
		text-align: justify;
		text-justify: auto;
	}

	.imgturnos iframe {
		width: 300px;
		height: 200px;
	}

	.ingreso .container-fluid {
		height: 100%;
	}

	.ingreso .container-fluid h1 {
		font-size: 2.5em;
		padding-left: 50px;
	}

	.ingreso .container-fluid label {
		font-size: 1.75em;
	}

	.ingreso .container-fluid .mb-2 .form-control {
		width: 400px;
	}

	.ingreso .container-fluid .mb-4 .btnl {
		margin-top: 50px;
	}

	

@media screen and (min-width: 1440px) {
	.navbar-brand img {
		width: 150px;
	}

	.navbar-brand #navbarNavAltMarkup {
		display: flex;
		justify-content: flex-end;
		gap: .625rem;
	}

	.navbar-brand #navbarNavAltMarkup .navbar-nav a {
		padding-right: 5px;
		font-size: 3em;
		font-weight: bold;
	}

	#hero {
		font-size: 2em;
	}

	#box-container .contenedor {
		padding: 5px;
	}

	#box-container .contenedor h2 {
		font-size: 3em;
		text-shadow: 1px 2px 3px black;
	}

	#box-container .contenedor .box .card {
		width: 400px;
		height: 500px;
		gap: 100px;
	}

	#box-container .contenedor .box .card h3 {
		font-size: 3em;
		font-weight: bolder;
	}

	#box-container .contenedor .box .card p {
		display: contents;
		color: white;
		font-size: 1.2em;
		font-weight: bolder;
		text-shadow: 1px 1px 2px black;
	}

	#final {
		font-size: 2em;
		text-shadow: 3px 2px blueviolet;
	}

	.contenedor-turno .imgturnos {
		align-items: center;
	}

	.contenedor-turno .imgturnos .banner-turnos h1 {
		font-size: 4.5em;
	}

	.contenedor-turno .imgturnos .banner-turnos p {
		padding: 10px;
		font-size: 3em;
		text-align: justify;
		text-justify: auto;
	}

	.contenedor-turno .imgturnos .calendario iframe {
		width: 700px;
		height: 500px;
	}

	.contenedor-turno .imgturnos .busqueda-ind h1 {
		font-size: 4.5em;
		text-shadow: 3px 2px blueviolet;
	}

	.contenedor-turno .imgturnos .busqueda-ind p {
		font-size: 2.5em;
		text-align: justify;
		text-justify: auto;
	}

	.contenedor-turno .imgturnos .busqueda-ind input {
		width: 50%;
		height: 50px;
	}

	.ingreso .container-fluid {
		height: 100%;
	}

	.ingreso .container-fluid .ingresar h1 {
		font-size: 3em;
	}

	.ingreso .container-fluid label {
		font-size: 2em;
	}

	.ingreso .container-fluid .form-control {
		width: 400px;
	}

	.ingreso .container-fluid .mb-4 .btnl {
		margin-top: 70px;
		font-size: 2em;
	}

	main .busqueda h1 {
		padding-top: 20px;
		padding-bottom: 150px;
		text-align: center;
		font-size: 3.5em;
	}

	main .busqueda p {
		padding-top: 0px;
		padding-bottom: 200px;
		font-size: 2em;
	}
}

.body {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ingreso.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.container {
	display: flex;
	flex-direction: column;
}

.form {
	display: none;
	max-width: 300px;
	margin: 10px;
}

.form h2 {
	margin-top: 0;
	color: white;
}

.form p {
	color: white;
}

.form input {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

.form button {
	background-color: #954caf;
	color: white;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer;
}

.form a {
	text-decoration: underline;
	cursor: pointer;
	color: cornflowerblue;
}
}