body,
h1,
form {
  margin: 0;
  padding: 0;
}

header {
	grid-area: header;
	background-color: #a583c5;
	width: 100%;
}

header .navbar .navbar-nav {
	align-items: center;
}

header .navbar .navbar-nav a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1em;
  padding: 10px 20px;
  margin-right: 150px;
  background-color: #69bbd1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header .navbar .navbar-nav a:hover {
	color: rgba(102, 39, 191, 0.764);
}

header .navbar .navbar-nav a {
  position: absolute;
  top: 20px;
  right: 20px;
}

body {
  font-family: "Times New Roman", sans-serif;
  background-color: #eeaae6;
}

#body {
  font-family: Times new roman, sans-serif;
  background-color: #c781dce9;
}

#body h1{ 
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  padding: 10px;
  background-color: #9369d1;
  color: white;
}


#gestionTurnos {
  max-width: 500px;
  margin-left: 400px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  background-color: #9369d1;
  border: 1px solid #571857;
  border-radius: 2px;
  box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.406);
  color: black !important;
}

#volver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-left: 30px;
  padding: 15px;
  width: 60%;
}

#buscarTurnoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btnBuscar {
  margin-top: 20px;
  padding-top: 20px;
  
}

#btnReg {
  max-width: 500px;
  margin-left: 50px;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  background-color: #9369d1;
  border: 1px solid #571857;
  border-radius: 2px;
  box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.406);
  color: black !important;
}

#btnReg:hover {
  background-color: #0056b3;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #9369d1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

#app {
  width: 20%;
  padding-left: 350px;
  padding-bottom: 0px;
}

#h2 {
  margin-left: -180px;
  font-size: 2rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content {
  flex: 1;
  padding: 10px;
}


.image-container {
  flex: 1;
  text-align: right;
  padding-left: 10px;
}

.image-container {
  position: absolute;
  top: 50%;
  right: 10%;
}

.image-container img {
  width: 500px;
  height: auto;
  margin-bottom: 0px;
}


#logoutBtn {
  padding: 10px 20px;
  margin-left: 600px;
  background-color: #9369d1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#logoutBtn:hover {
  background-color: #0056b3;
}

#logoutBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
